[Unit]
Description=ActivityWatch Watcher: AFK

[Service]
ExecStart=/sbin/aw-watcher-afk
RestartSec=30
Restart=always


[Install]
WantedBy=default.target
